---
import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"
import { buildSlug } from "~/utils/utils"

import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"
import IconList from "@components/ui/IconList.astro"
import FAQ from "~/components/parts/FAQ.astro"

const meta: Meta = {
  title: "Tworzenie stron WWW - Miejsce dla Twojej firmy",
  description:
    "Profesjonalne projektowanie i tworzenie stron internetowych z pomysłem i planem. Wzorowe techniczne wykonanie i nastawienie na potrzeby.",
  og: false,
  tw: false,
}

const schema: Schema = {}
---

<PageLayout
  pageTitle="Tworzenie strony internetowej"
  pageDescription="Strona internetowa to serce działań w sieci. Bez względu na źródło ruchu internetowego, niemal zawsze prowadzi do strony internetowej."
  meta={meta}
  schema={schema}>
  <Section>
    <Row>
      <div class="flex flex-col items-start justify-center gap-8">
        <div class="flex flex-col gap-4">
          <h2>Czy Twoja firma potrzebuje strony www?</h2>
          <p class="text-lg">
            Strona internetowa służy zarówno firmom, jak i potencjalnym
            klientom. Stanowi ona niezbędne narzędzie niemal każdej firmy.
          </p>
        </div>
        <div>
          <p class="text-lg font-bold">Kto potrzebuje strony www?</p>
          <IconList
            items={[
              "Każda działalność gospodarcza, nawet najmniejsza lokalna firma",
              "Firmy promujące swoje produkty lub usługi w sieci",
              "Firmy, które chcą zyskiwać nowych klientów",
              "Firmy, które chcą ułatwić kontakt klientom",
            ]}
          />
        </div>
        <p class="text-sm text-gray-dark">
          * Niektóre branże nie pozyskują klientów bezpośrednio z sieci i w ich
          przypadku strona www może spełniać głównie rolę informacyjną (adres /
          typy usług / odpowiedzi na pytania) i wizerunkową, ale wciąż jest
          ważna.
        </p>
      </div>
      <div>
        <MyImage
          src="pages/kto-potrzebuje-strony.webp"
          alt="Tłum ludzi - większość z nich to posiadacze lub użytkownicy stron internetowych."
          loading="eager"
        />
      </div>
    </Row>
  </Section>

  <!-- <Section class="bg-gray-light"
    ><Row
      ><div class="order-2 md:order-1">
        <MyImage
          src="strona-to-nie-wszystko.webp"
          alt="Pusty, biały ekran telefonu komórkowego."
        />
      </div><div
        class="order-1 flex flex-col items-start justify-center gap-8 md:order-2">
        <div class="flex flex-col gap-8">
          <h2>Strona internetowa to nie wszystko</h2><p class="text-lg">
            Strona internetowa jest w centrum działań firmy w sieci, jednak nie
            stanowi wszystkiego i nie daje gwarancji sukcesu. Strona www musi
            być częścią większego planu całości działań marketingowych.
          </p>
          <p class="text-lg">
            Wiele zależy od planu działania w sieci, realizacji samej strony i
            jej dalszego rozwoju i wykorzystania. Dzisiaj trudno jest osiągnąć
            wysokie pozycje w Google i wymaga to dużej ilości pracy i czasu już
            po wdrożeniu strony.
          </p><p class="text-lg">
            Dlatego, jeśli zależy nam na zdobywaniu klientów bezpośrednio z
            sieci, warto dalej rozwijać stronę i zainteresować się także innymi
            kanałami promocji, jak social media, youtube, ale i płatne reklamy w
            Google czy na Facebooku.
          </p>
        </div>
      </div>
    </Row>
  </Section> -->

  <Section class="bg-gray-light">
    <Row>
      <div class="order-2 md:order-1">
        <MyImage
          src="pages/cel-strony-www.webp"
          alt="Piłka zmierzająca do celu, czyli siatki kosza."
        />
      </div>
      <div
        class="order-1 flex flex-col items-start justify-center gap-8 md:order-2">
        <div class="flex flex-col gap-4">
          <h2>Cele strony www. Korzyści dla Ciebie</h2>
          <p class="text-lg">
            Co chcesz osiągnąć przy pomocy strony internetowej? Jakie są Twojej
            cele? Jakie korzyści powinna przynosić strona www?
          </p>
        </div>
        <IconList
          items={[
            "budowanie marki osobistej lub firmowej",
            "zwiększenie wiarygodności firmy w oczach odbiorców",
            "prezentacja oferty 24/7",
            "sprzedaż usług lub produktów",
            "pozyskiwanie nowych klientów",
            "ułatwienie obsługi aktualnych klientów",
            "Odpowiedzi na często zadawane pytania",
            "wyjaśnienie jakiegoś procesu",
            "Uproszczenie pracy dla Ciebie lub Twoich klientów",
            "oszczędność czasu i pieniędzy",
          ]}
        />
      </div>
    </Row>
  </Section>

  <!-- <Section center class=""
    ><div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Strony internetowe inne niż wszystkie</h2><p class="text-lg">
        Tworzę strony internetowe inaczej niż wielu. Inna technologia i inne
        podejście, skupienie na celu i rozwiązaniu Twojego problemu.
      </p>
    </div><Row placement="items-stretch"
      ><div
        class="flex flex-col gap-4 rounded bg-gray-light px-4 py-8 shadow-sm">
        <h3 class="text-h5">Właściwa technologia</h3><p>
          Odpowiedni dobór i stosowanie technologii jest kluczowe. W wielu
          przypadkach porzucam wordpressa, bo są lepsze rozwiązania. Stawiam na
          astro i statyczne strony kodowane.
        </p>
      </div><div
        class="flex flex-col gap-4 rounded bg-gray-light px-4 py-8 shadow-sm">
        <h3 class="text-h5">Odpowiednie podejście</h3><p>
          Istotne jest także samo podejście do sprawy, oparte na wiedzy
          technicznej i doświadczeniu, a także rozwiązywaniu problemów i
          maksymalnej korzyści dla Ciebie.
        </p>
      </div></Row
    ></Section
  > -->

  <Section class="">
    <Row placement="items-start"
      ><div class="flex flex-col items-start justify-center gap-4">
        <h2>Strony internetowe inne niż wszystkie</h2>
        <p class="text-lg">
          Tworzę strony internetowe inaczej niż wielu. Inna technologia i inne
          podejście, skupienie na celu i rozwiązaniu Twojego problemu.
        </p>
      </div>

      <div class="flex flex-col items-start justify-center gap-8">
        <div class="flex flex-col gap-4 rounded bg-white px-4 py-8 shadow-sm">
          <h3 class="text-h5">Właściwa technologia</h3><p>
            Odpowiedni dobór i stosowanie technologii jest kluczowe. W wielu
            przypadkach porzucam wordpressa, bo są lepsze rozwiązania. Stawiam
            na astro i statyczne strony kodowane.
          </p>
        </div><div
          class="flex flex-col gap-4 rounded bg-white px-4 py-8 shadow-sm">
          <h3 class="text-h5">Odpowiednie podejście</h3><p>
            Istotne jest także samo podejście do sprawy, oparte na wiedzy
            technicznej i doświadczeniu, a także rozwiązywaniu problemów i
            maksymalnej korzyści dla Ciebie.
          </p>
        </div>
      </div>
    </Row>
  </Section>

  <Section center class="bg-accent-lightest"
    ><div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Jakie są zatem moje strony internetowe?</h2><p class="text-lg">
        Czym się wyróżniają?
      </p>
    </div><Row placement="items-stretch" maxColumns={3}
      >{
        [
          {
            title: "Ultra szybkie",
            description:
              "Strony internetowe, które wychodzą spod mojej ręki są szalenie szybkie, często bliskie ideału. To aspekt, który zwiększa konwersję.",
          },
          {
            title: "Super bezpieczne",
            description:
              "Strony w zasadzie nie do złamania. Zazwyczaj bez php i bazy danych. Kopia zapasowa zabezpieczona.d",
          },
          {
            title: "Użyteczne i przejrzyste",
            description:
              "Skupiam się na celu i treści. To po nią przychodzi użytkownik. Przekaz musi być jasny i czytelny, a układ wspierać realizację celu, a nie przeszkadzać.",
          },
          {
            title: "Minimalistyczne i spójne",
            description:
              "Wybieram stonowane czcionki, kolory i układy. Ograniczam zbędne efekty i animacje, które przeszkadzają w odbiorze. Użyteczny i spójny układ oznacza profesjonalizm, a wiele znanych marek stawia dzisiaj na maksymalną prostotę.",
          },

          {
            title: "W pełni responsywne",
            description:
              "Strony tworzę w podejściu mobile-first, czyli skupiając się głównie na telefonach, bo to na nich jest dziś większość ruchu! Dopiero na drugim miejscu (równie ważnym), stawiam komputery",
          },
          {
            title: "Łatwe w utrzymaniu",
            description:
              "Coś czego brakuje niemal wszystkim. Moje strony nie wymagają utrzymania i aktualizacji wtyczek i systemu. Aktualizujesz tylko, gdy chcesz coś zmienić lub dodać! Nic się nie psuje, ale warto doglądać i analizować, bo strona jest ważny elementem firmy.",
          },
          {
            title: "Łatwe w obsłudze",
            description:
              "Łatwość dodania postu na bloga czy nowej realizacji do portfolio? Proszę bardzo - zrobię to za Ciebie lub przygotuję bajecznie prosty panel z formularzem - o wiele prostszy i bardziej funkcjonalny niż wp. Nie edytujesz wszystkiego, tylko to co potrzebujesz.",
          },

          {
            title: "Doskonałe pod względem technicznego SEO",
            description:
              "SEO treści to odrębna sprawa (też w porządku), ale SEO techniczne? Doskonałe. Super szybkość, mobilność, dbałość o meta tagi, nagłówki, opisy alternatywne, opisy schema. To rzadko spotykane!",
          },
          {
            title: "Doskonałe pod względem technicznym",
            description:
              "W technologiach i w programowaniu siedzę już od 10 lat. Wiele widziałem i testowałem. Wiem, co się dzieje w kodzie, dlaczego i jak to zmienić. Nie generuje magicznie rozwiązań. Ja je tworzę, a odpowiednia technologia mi w tym pomaga.",
          },
          {
            title: "Podpięte pod prostą analitykę",
            description:
              "Jeśli chcesz to oprócz klasycznego Google Search Console, mogę zainstalować dla Ciebie prosty w obsłudze panel statystyk, który pomoże Ci lepiej działać ze stroną. Zrezygnowałem z Google Analytics na korzyść prostszego i w pełni bezpiecznego rozwiązania z RODO i GPDR.",
          },
          {
            title: "Wdrażane na popularnym i bezpiecznym hostingu",
            description:
              "Dzięki temu, że strona jest statyczna możemy skorzystać z bardzo popularnego, szybkiego i bezpiecznego hostingu Cloudflare Pages, prawdopodobnie lepszego niż niejeden hosting za 300/500 zł / rok.",
          },
          {
            title: "Z dodatkowymi elementami",
            description:
              "Potrzebujesz czegoś więcej? Zmiana motywu, wielojęzyczność, blog, portfolio, kalendarz rezerwacji, kalkulator, CRM lub automatyzacje dla swojej firmy? Z chęcią Ci pomogę.",
          },
          {
            title: "Ze świetnym wsparciem",
            description:
              "Staram się maksymalnie wesprzeć Cie na każdym etapie, by zrzucić z Ciebie ciężar poświęconego czasu, wysiłku i decyzji. Pomagam we wdrażaniu i zmianach. Sugeruję ulepszenia i innowacje. Zależy mi na długotrwałej współpracy i Twoim zadowoleniu.",
          },
        ].map((item) => (
          <div class="flex flex-col gap-4 rounded bg-accent-light/50 px-4 py-8 shadow-sm">
            <h3 class="text-h5">{item.title}</h3>
            <p>{item.description}</p>
          </div>
        ))
      }</Row
    ></Section
  >

  <Section center class="bg-accent-darkest text-white">
    <div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Brzmi Świetnie? To musi kosztować majątek! No nie koniecznie</h2><p
        class="text-lg">
        Będąc świadomym <strong>jakości oferty</strong>, ale jednocześnie chcąc,
        <strong>
          by więcej firm mogło jej doświadczyć, przygotowałem różne możliwości i
          plany.
        </strong>
      </p>
    </div>
    <h2></h2>
    <Row maxColumns={3} class="my-4" placement="items-stretch">
      <div class="flex flex-col gap-4 rounded bg-accent-dark p-8 shadow-sm">
        <h3 class="text-h5">
          Landing Page - strona informacyjna lub sprzedażowa
        </h3>
        <div class="bg-accent-lightest p-2 text-h5 text-black">
          od 1500zł / raz.
        </div>
        <p>
          Płacisz raz i masz. Domena, hosting, kod, analityka - wszystkie konta
          są Twoje (ja jestem dodany jako developer).
        </p>

        <p>
          W razie potrzeby, masz moje wsparcie techniczne. Dodatkowe prace są
          wyceniane indywidualnie.
        </p>
      </div>

      <div class="flex flex-col gap-4 rounded bg-accent-dark p-8 shadow-sm">
        <h3 class="text-h5">Klasyczna strona multi stronicowa - ryczałt</h3>
        <div class="bg-accent-lightest p-2 text-h5 text-black">
          od 3000zł / raz.
        </div>
        <p>
          Płacisz raz i masz. Domena, hosting, kod, analityka - wszystkie konta
          są Twoje (ja jestem dodany jako developer).
        </p>

        <p>
          Strona może być wyposażona w prosty system CMS, dzięki czemu będziesz
          samowystarczalny(a), by móc np. łatwo dodawać posty na blogu czy
          realizacje.
        </p>

        <p>
          Coś nie działa? Chcesz coś dodać / zmienić? Odezwij się, sprawdzę,
          wycenię i zrealizuję.
        </p>

        <p>
          Potrzebujesz ciągłego wparcia i pomocy? Płać abonament 97zł/msc. i
          miej mnie pod ręką, do szybkiej pomocy.
        </p>
      </div>

      <div class="flex flex-col gap-4 rounded bg-accent-dark p-8 shadow-sm">
        <h3 class="text-h5">Klasyczna strona multi stronicowa - abonament</h3>
        <div class="bg-accent-lightest p-2 text-h5 text-black">
          od 300zł / msc.
        </div>
        <p>
          Nowy model. Nie chcesz wydawać ponad 3000zł na raz? Płać abonament
          300zł /msc z minimalnym okresem 1 roku. W ten sposób pracuję nad Twoją
          stroną, najbardziej aktywnie na samym początku (wtedy powstaje cała
          strona), ale potem również pomagam Ci w rozwoju.
        </p>
        <p>
          W cenie masz moje wsparcie techniczne i drobne prace rozwojowe.
          Potrzebujesz większej dostępności - zwiększamy wartość abonamentu.
        </p>

        <p>
          Przestajesz płacić w pierwszym roku? Tracisz stronę. Przestajesz
          płacić po roku? Strona jest Twoja, ale nie masz mojego wsparcia.
        </p>
      </div>
    </Row>

    <p>
      * Ceny są poglądowe, bo każdy przypadek jest inny. Przykładowo, jeden
      landing page ma długość 3 ekranów, a inny 10. Jednym razem samodzielnie
      ktoś dostarczył wszystkie materiały (teksty, grafiki, projekt graficzny),
      a innym razem musiałem wszystko robić samemu. Często jest to tylko strona
      informacyjno-sprzedażowa, ale czasami są wymagane dodatkowe
      funkcjonalności.
    </p>

    <div class="flex w-full flex-col gap-4">
      <p class="text-h5">Elementy dodatkowo płatne:</p>
      <IconList
        class="text-gray-light"
        items={[
          "Dodatkowa podstrona -  400zł",
          "Wielojęzyczność - 1000 zł",
          "Motyw jasny-ciemny - 400zł",
          "Specjalne elementy interaktywne, jak dodatkowy formularz, kalkulator, kalendarz, itp. - indywidualnie",
        ]}
      />
    </div>

    <div
      class="flex flex-col gap-4 self-stretch md:flex-row md:self-start lg:self-center">
      <Button link="/kontakt">Opowiedz o swoim projekcie</Button>
    </div>
  </Section>

  <Section class="">
    <Row placement="items-start"
      ><div class="flex flex-col items-start justify-center">
        <h2>O czym jeszcze warto wiedzieć?</h2>
      </div>

      <div class="flex flex-col items-start justify-center gap-8">
        <p class="text-lg">
          Strona to nie tylko wygląd, tekst i zdjęcia. Trzeba jeszcze
          skonfigurować domenę i hosting, formularz kontaktowy, politykę
          prywatności, ew. ciasteczka i dodać witrynę do wyszukiwarki. We
          wszystkich sprawach technicznych Ci pomogę. Z resztą przynajmniej
          wskażę kierunek.
        </p>
      </div>
    </Row>
  </Section>

  <Section class="bg-gray-light">
    <Row
      ><div class="order-2 md:order-1">
        <MyImage
          src="pages/tworzenie-kroki.webp"
          alt="Planowanie schematu działania."
        />
      </div>
      <div
        class="order-1 flex flex-col items-start justify-center gap-8 md:order-2">
        <h2>Jak w uproszczeniu wygląda cały proces?</h2>

        <IconList
          items={[
            "Zbadanie potrzeb i ustalenie priorytetów",
            "Określenie zakresu i rodzaju prac",
            "Zebranie niezbędnych materiałów",
            "Przygotowanie pierwszej części realizacji",
            "Ocena i ewentualne poprawki",
            "Realizacja pozostałej części strony, jej ocena i ewentualne drobne poprawki",
            "Prace wykończeniowe",
            "Przekazanie witryny www",
          ]}
        />

        <Button link="/kontakt">Opowiedz o swoim projekcie</Button>
      </div>
    </Row>
  </Section>

  <Section center class="">
    <h2>Zobacz przykłady wdrożonych stron internetowych</h2>
    <Row maxColumns={3} class="my-4" placement="items-stretch">
      {
        [
          {
            title: "Strona sprzedażowa miernika",
            description:
              "Stworzenie strony sprzedażowej niszowego produktu, ponad 2500 wyświetleń i sprzedaż +100%",
            link: "/portfolio/strona-internetowa-miernika/",
          },
          {
            title: "Moja aktualna strona www",
            description:
              "Stworzenie strony www na własne potrzeby. Ponad 1400 wyświetleń w kilka miesięcy.",
            link: "/portfolio/moja-aktualna-strona-www/",
          },
          {
            title: "Strona typu landing page dla systemu czytelnemenu",
            description:
              "Stworzenie prostej i przejrzystej strony dla nowego systemu",
            link: "/portfolio/system-czytelne-menu/",
          },
        ].map((item) => (
          <div class="relative flex flex-col gap-4 rounded bg-gray-light p-8 shadow-sm hover:bg-white">
            <a
              href={buildSlug(item.link)}
              class="t-0 l-0 absolute block size-full"
            />

            <h3 class="text-h5 text-black">{item.title}</h3>
            <p class="text-gray-dark">{item.description}</p>
            <Button link={item.link} size="sm" class="self-start">
              Zobacz opis projektu
            </Button>
          </div>
        ))
      }
    </Row>
    <div
      class="flex flex-col gap-4 self-stretch md:flex-row md:self-start lg:self-center">
      <Button link="/portfolio">Zobacz portfolio</Button>
      <Button variant="secondary" link="/kontakt">Skontaktuj się</Button>
    </div>
  </Section>

  <FAQ
    id="faq-creating-site"
    items={[
      {
        question: "Dlaczego moja firma potrzebuje strony internetowej?",
        answer: [
          "Strona internetowa to kluczowy element obecności w sieci. Pozwala na dotarcie do nowych klientów, prezentację oferty przez całą dobę oraz budowanie wiarygodności firmy.",
        ],
      },
      {
        question: "Chcesz stronę www? Odpowiedz na te pytania.",
        answer: [
          "Po co Ci strona www? Na czym Ci zależy? Czym chcesz się wyróżniać? Czy strona ma zdobywać klientów, czy po prostu być? W jaki sposób ruch będzie sprowadzany na stronę? Czy SEO ma dla Ciebie znaczenie?",
        ],
      },
      {
        question: "Ile kosztuje stworzenie strony internetowej?",
        answer: [
          "Koszt stworzenia strony internetowej zależy od wielu czynników, takich jak liczba podstron, dodatkowe funkcjonalności oraz rodzaj treści. Zachęcam do zamówienia bezpłatnej wyceny, aby uzyskać dokładne informacje.",
        ],
      },
      {
        question: "W jakiej technologii tworzysz strony internetowe?",
        answer: [
          "Tworzę strony w technologiach takich jak Astro, Wordpress i Webflow. Wybór technologii zależy od specyficznych potrzeb projektu i preferencji klienta.",
        ],
      },
      {
        question:
          "Czy mogę samodzielnie zarządzać swoją stroną po jej stworzeniu?",
        answer: [
          "Jak najbardziej - kwestia ustaleń i odpowiedniego wdrożenia. Jeśli jednak nie masz czasu lub wystarczających umiejętności technicznych - mogę robić to za Ciebie.",
        ],
      },
      {
        question: "Jak długo trwa proces tworzenia strony internetowej?",
        answer: [
          "Czas realizacji zależy od złożoności projektu i dostarczenia niezbędnych materiałów. Standardowy proces tworzenia strony trwa od 2 do 4 tygodni.",
        ],
      },

      {
        question:
          "Czy mogę skonsultować się przed zamówieniem strony internetowej?",
        answer: [
          "Oczywiście! Zachęcam do kontaktu w celu omówienia Twoich potrzeb i oczekiwań. Chętnie odpowiem na wszystkie pytania i doradzę najlepsze rozwiązania.",
        ],
      },
      {
        question: "Czy strona internetowa będzie zgodna z RODO?",
        answer: [
          "Tak, wszystkie strony, które tworzę, są zgodne z podstawowymi wymogami RODO, w tym z polityką prywatności i trybem zgody na cookies.",
        ],
      },
      {
        question: "Jak mogę zamówić wycenę strony internetowej?",
        answer: [
          "Aby zamówić bezpłatną wycenę, wystarczy skontaktować się ze mną przez formularz na stronie. Odpowiem na Twoje pytania i przedstawię indywidualną ofertę.",
        ],
      },
    ]}
  />

  <!-- CTA -->
  <CTA secondary>
    <p class="text-center text-h2">
      Strona internetowa to pierwszy krok. <br />
      <span class="text-accent">Zrób go dobrze.</span>
    </p>

    <div class="flex w-full flex-col justify-center gap-4 md:flex-row">
      <Button link="/kontakt">Opowiedz o swoim projekcie</Button>
    </div>
  </CTA>
</PageLayout>
