---
import Layout from "@layouts/Layout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import { Icon } from "astro-icon/components"
import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"

const meta: Meta = {
  title: "Technologia dla firm - szybko i prosto",
  description:
    "Zajmuję się technologią cyfrową i automatyzacją, a w szczególności stronami www. Szukam możliwości wdrożenia narzędzi i optymalizacji.",
  // openGraph: {},
  // twitter: {},
  og: false,
  tw: false,
}

const schema: Schema = {
  "@context": "https://schema.org/",
  "@type": "Website",
  name: "Łukasz Miłoś",
  url: "https://lukaszmilos.pl",
  description: "Strona Łukasza Miłoś - inż. IT",
}
---

<Layout meta={meta} schema={schema}>
  <!-- hero -->
  <Section center
    ><Row
      ><div class="flex flex-col justify-center gap-8">
        <div class="flex flex-col gap-4">
          <h1 class="font-bold">
            Pomagam firmom MŚP <span class="text-accent">lepiej</span> korzystać
            z technologii
          </h1>
          <p class="text-h5 text-accent">szybko, prosto, skutecznie</p>
        </div>

        <div class="flex flex-col gap-4 lg:flex-row">
          <div class="flex flex-row items-center gap-4">
            <Icon
              name="tabler:device-laptop"
              class="max-w-full text-5xl text-accent md:text-7xl"
            />
            <p class="text-lg">
              skuteczne i pozbawione błędów strony internetowe
            </p>
          </div>
          <div class="flex flex-row items-center gap-4">
            <Icon
              name="tabler:automation"
              class="max-w-full text-5xl text-accent md:text-7xl"
            />
            <p class="text-lg">przydatne narzędzia cyfrowe i automatyzacje</p>
          </div>
        </div>
        <div class="flex flex-row gap-4">
          <Button link="/oferta">Zobacz ofertę</Button>
          <Button variant="secondary" link="/kontakt">Skontaktuj się</Button>
        </div>
      </div><div>
        <MyImage
          src="pages/hero2.webp"
          alt="Łukasz Miłoś"
          withOverlay
          loading="eager"
        />
      </div>
    </Row>
  </Section>

  <!-- Technologia -->
  <!-- <Section
    center
    class="bg-accent-darkest text-white"
    gap="gap-12 lg:gap-16 2xl:gap-20">
    <div class="flex max-w-prose flex-col gap-4 md:items-center">
      <h2 class="md:text-center">
        Technologia z głową. <br />
        <span class="text-accent-light">Co jest dla mnie ważne?</span>
      </h2>
    </div>

    <hr class="h-px w-full border-0 bg-accent-dark" />

    {
      [
        {
          titleStrong: "Gdzie",
          titleRest: "czyli w czym technologia może pomóc?",
          icons: [
            "tabler:user-plus",
            "tabler:users-group",
            "tabler:file",
            "tabler:hammer",
          ],
          features: [
            "pozyskiwanie klientów",
            "obsługa klientów",
            "prowadzenie firmy",
            "procesy firmowe",
            "planowanie, realizacja i podsumowanie zadań",
          ],
        },
        {
          titleStrong: "Cele",
          titleRest: "czyli jakie korzyści ma przynieść technologia?",
          icons: [
            "tabler:brand-speedtest",
            "tabler:bug-off",
            "tabler:report-money",
            "tabler:user-plus",
            "tabler:time-duration-15",
          ],
          features: [
            "lepsza organizacja pracy",
            "szybsze działanie",
            "mniej błędów i opóźnień",
            "mniejsze koszty",
            "więcej czasu",
            "nowe możliwości",
          ],
        },
        {
          titleStrong: "Cechy",
          titleRest: "czyli jaka powinna być technologia?",
          icons: [
            "tabler:lock",
            "tabler:activity",
            "tabler:adjustments",
            "tabler:pig-money",
            "tabler:time-duration-15",
          ],
          features: [
            "bezpieczna",
            "skuteczna",
            "szybka",
            "prosta",
            "na czasie",
            "rentowna",
            "dopasowana",
            "wygodna",
            "wystarczająca",
          ],
        },
      ].map((item) => (
        <>
          <Row>
            <div class="flex max-w-prose flex-col gap-4">
              <h3 class="text-h4">
                <span class="text-accent-light">{item.titleStrong}</span>,{" "}
                {item.titleRest}
              </h3>
              <div class="flex flex-row gap-2 text-accent-light">
                {item.icons.map((icon) => (
                  <Icon name={icon} class="text-3xl" />
                ))}
              </div>
            </div>
            <div class="flex flex-row flex-wrap items-start gap-4 text-center text-accent-lightest">
              {item.features.map((feature) => (
                <div class="bg-accent-dark px-4 py-2">{feature}</div>
              ))}
            </div>
          </Row>
          <hr class="h-px w-full border-0 bg-accent-dark" />
        </>
      ))
    }
  </Section> -->

  <!-- Usługi -->
  <Section center class="bg-accent-darkest text-white">
    <div class="flex max-w-prose flex-col gap-4 md:items-center">
      <h2 class="md:text-center">
        W czym mogę pomóc? <br />
        <span class="text-accent-light">
          Rozwiązuje problemy i upraszczam zadania
        </span>
      </h2>
    </div>
    <Row maxColumns={3} class="my-4" placement="items-stretch">
      {
        [
          {
            icon: "tabler:app-window",
            title: "Buduję i poprawiam strony internetowe",
            description:
              "Budowanie strony jest dzisiaj łatwe, ale zbudowanie dobrej i skutecznej strony jest szalenie trudne, a tak istotne. Staram się to zmieniać.",
            extend:
              "Wiele stron jest bardzo źle zbudowanych - zawierają masę błędów i trudno je obsługiwać. Pora na zmianę!",
          },
          {
            icon: "tabler:database",
            title: "Szukam lepszych rozwiązań cyfrowych",
            description:
              "Poszukiwanie możliwości i wskazanie, co można wykorzystać i w jaki sposób lub jak coś poprawić, by przynosiło to większe korzyści.",
            extend:
              "Potrzeba czasu, wiedzy i technicznego doświadczenia, by wiedzieć, co jest możliwe i jak to zrobić.",
          },
          {
            icon: "tabler:automation",
            title: "Wdrażam programy i automatyzacje",
            description:
              "Transformacja cyfrowa i stały rozwój jest nieunikniony nawet dla mikrofirm. Potrzeby tutaj są ogromne, a ja wychodzę naprzeciw.",
            extend:
              "Dzięki narzędziom i automatyzacjom możesz m.in. oszczędzić czas i minimalizować błędy.",
          },
        ].map((item) => (
          <div class="flex flex-col gap-4 rounded bg-accent-dark px-8 py-10 shadow-sm">
            <div class="flex items-center gap-4">
              <Icon name={item.icon} class="text-7xl" />
              <h3 class="text-h5">{item.title}</h3>
            </div>
            <p class="text-lg text-accent-lightest">{item.description}</p>
            <p class="text-accent-light">{item.extend}</p>
          </div>
        ))
      }
    </Row>
    <div
      class="flex flex-col gap-4 self-stretch md:flex-row md:self-start lg:self-center">
      <Button link="/oferta">Zobacz ofertę</Button>
      <Button link="/kontakt" variant="tetriary">Skontaktuj się</Button>
    </div>
  </Section>

  <Section center class="" gap="gap-12 lg:gap-16 2xl:gap-20">
    <div class="flex max-w-prose flex-col gap-4 md:items-center">
      <h2 class="md:text-center">
        Pomocna technologia. <br />
        <span class="text-accent-light">Jakie mam podejście?</span>
      </h2>
    </div>
    <Row placement="items-stretch">
      <div
        class="flex flex-col items-center justify-start gap-6 rounded-md bg-gray-light px-6 py-10 shadow-md">
        <h3 class="text-h4 text-gray-dark">Osiąganie celu</h3>
        <p class="text-lg">
          Skupiam się na celu, który ma być osiągnięty. Technologia ma pomóc w
          realizacji celu, a nie być celem samym w sobie.
        </p>
        <div class="flex flex-row flex-wrap gap-3">
          {
            [
              "łatwiejsze pozyskiwanie i obsługa klientów",
              "lepsza organizacja pracy",
              "szybsze działanie",
              "mniej błędów i opóźnień",
              "mniejsze koszty",
              "więcej operatywnego czasu",
              "nowe możliwości",
            ].map((feature) => (
              <div class="bg-gray-lightest px-2 py-2 text-gray-dark">
                {feature}
              </div>
            ))
          }
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-start gap-6 rounded-md bg-gray-light px-6 py-10 shadow-md">
        <h3 class="text-h4 text-gray-dark">Odpowiednia technologia</h3>
        <p class="text-lg">
          Technologia do zadania musi być odpowiednio dobrana i wdrożona. Często
          decyduje ona o powodzeniu lub porażce.
        </p>
        <div class="flex flex-row flex-wrap gap-3">
          {
            [
              "bezpieczna",
              "skuteczna",
              "szybka",
              "prosta",
              "na czasie",
              "rentowna",
              "dopasowana",
              "wygodna",
              "wystarczająca",
              "bezawaryjna",
              "elastyczna",
            ].map((feature) => (
              <div class="bg-gray-lightest px-4 py-2 text-gray-dark">
                {feature}
              </div>
            ))
          }
        </div>
      </div>
    </Row>
  </Section>

  <Section class="bg-accent-darkest text-white">
    <Row placement="items-start"
      ><div class="flex flex-col items-start justify-center">
        <h2>Zobacz kilka moich przykładowych prac i rozwiązań</h2>
      </div>

      <div class="flex flex-col items-start justify-center gap-8">
        <p class="text-lg">
          Jakie problemy rozwiązałem? Jak to wykonałem i dlaczego tak, a nie
          inaczej? Czy projekt zakończył się sukcesem?
        </p>
        <div class="flex flex-col gap-4 self-stretch md:flex-row md:self-start">
          <Button link="/portfolio">Zobacz portfolio</Button>
          <Button variant="tetriary" link="/kontakt">Skontaktuj się</Button>
        </div>
      </div>
    </Row>
  </Section>

  <Section
    ><Row
      ><div class="flex flex-col items-start justify-center gap-8">
        <div class="flex flex-col gap-4">
          <h2>Zapytasz - kim jestem?</h2>
          <p class="text-lg">
            Nazywam się Łukasz Miłoś i lubię rozwiązywać problemy z pomocą
            technologii. Charakteryzuję się dużym zaangażowaniem oraz szerokim
            spektrum zainteresowań i narzędzi, które ciągle poszerzam. Lubię
            nowe wyzwania.
          </p>
        </div>
        <div class="flex flex-col gap-4 lg:flex-row">
          <div class="flex flex-col gap-2">
            <Icon name="tabler:school" class="text-5xl text-accent" />
            <h3 class="text-h5 text-accent">Technik i inżynier IT</h3><p>
              Nieprzypadkowa osoba z dużą wiedzą w swoim fachu
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <Icon name="tabler:certificate" class="text-5xl text-accent" />
            <h3 class="text-h5 text-accent">Certyfikowany specjalista</h3><p>
              Wiedza i umiejętności potwierdzone dyplomami
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-4 self-stretch md:flex-row md:self-start">
          <Button link="/o-mnie">Poznaj mnie lepiej</Button>
          <Button variant="secondary" link="/kontakt">Skontaktuj się</Button>
        </div>
      </div><div>
        <MyImage
          src="pages/hero.webp"
          alt="Łukasz Miłoś - technik i inżynier IT."
          withOverlay
        />
      </div>
    </Row></Section
  >

  <!-- CTA -->
  <CTA>
    <p class="text-center text-h2">Rozwiąż swój problem i osiągnij cel!</p>
    <div class="flex w-full flex-col gap-4 md:flex-row md:justify-center">
      <Button link='/oferta"'>Zobacz ofertę</Button>
      <Button variant="tetriary" link="/kontakt">Skontaktuj się</Button>
    </div>
  </CTA>
</Layout>
