---
import type { MarkdownHeading } from "astro"
import type { CollectionEntry } from "astro:content"

import { type Meta, type Schema } from "@components/core/MySEO.astro"

import Layout from "@layouts/Layout.astro"

import Section from "@components/core/Section.astro"
import MyImage from "@components/ui/MyImage.astro"

import Button from "~/components/ui/Button.astro"
import CTA from "~/components/widgets/CTA.astro"

export interface Props {
  post: CollectionEntry<"portfolio">
  headings: MarkdownHeading[]
  meta: Meta
  schema?: Schema
}

const { post, meta, schema } = Astro.props
---

<Layout meta={meta} schema={schema}>
  <header
    class="align-center flex flex-col items-center gap-4 bg-accent-darkest px-6 py-8 text-white md:py-16">
    <div
      class="flex max-w-prose flex-col items-center justify-center gap-4 text-center">
      <div class="flex flex-row gap-4">
        <div
          class="inline-block self-start bg-accent-dark px-4 py-2 text-accent-light">
          CASE-STUDY
        </div>
        <div
          class="inline-block self-start bg-accent-light px-4 py-2 text-accent-dark">
          {post.data.category}
        </div>
      </div>
      {post.data.title && <h1>{post.data.title}</h1>}
    </div>
  </header>

  <Section maxWidth="max-w-prose">
    <!-- image -->
    {
      post.data.image.src && (
        <MyImage
          src={post.data.image.src}
          alt={post.data.image.alt}
          aspect="aspect-video"
          class="object-top"
          loading="eager"
        />
      )
    }
    <article
      class="prose prose-lg text-black prose-p:text-lg prose-img:aspect-square prose-img:w-[680px] prose-img:rounded-lg prose-img:object-cover prose-img:shadow-md">
      <!-- Metrics -->
      {
        post.data.webMetrics && (
          <>
            <h2>Statystyki</h2>
            <div class="grid w-full grid-cols-2 gap-4 rounded-md bg-accent-darkest p-6 text-white shadow-md lg:grid-cols-3">
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">{post.data.webMetrics.speed}</div>
                  <div class="text-accent-light">/100</div>
                </div>
                <span class="text-lg text-accent-lightest">Wydajność</span>
              </div>
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">
                    {post.data.webMetrics.accessibility}
                  </div>
                  <div class="text-accent-light">/100</div>
                </div>
                <span class="text-lg text-accent-lightest">Dostępność</span>
              </div>
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">{post.data.webMetrics.technics}</div>
                  <div class="text-accent-light">/100</div>
                </div>
                <span class="text-lg text-accent-lightest">Techniki</span>
              </div>
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">{post.data.webMetrics.seo}</div>
                  <div class="text-accent-light">/100</div>
                </div>
                <span class="text-lg text-accent-lightest">SEO</span>
              </div>
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">{post.data.webMetrics.views}</div>
                </div>
                <span class="text-lg text-accent-lightest">Wyświetleń</span>
              </div>
              <div class="flex flex-col rounded-sm bg-accent-dark p-4 shadow-md">
                <div class="flex flex-row items-center gap-2">
                  <div class="text-5xl">{post.data.webMetrics.clicks}</div>
                </div>
                <span class="text-lg text-accent-lightest">Kliknięć</span>
              </div>
            </div>
          </>
        )
      }

      <!-- Content -->
      <slot />

      <hr class="my-8 h-px border-0 bg-gray" />

      {
        post.data.videos && (
          <>
            <h2>Wideo na temat projektu</h2>
            {post.data.videos.map((video) => (
              <div class="relative h-96 w-full">
                <iframe
                  class="t-0 l-0 b-0 r-0 absolute h-full w-full rounded shadow"
                  src={video}
                />
              </div>
            ))}
          </>
        )
      }

      <div class="flex flex-row gap-4">
        {
          post.data.link && (
            <Button link={post.data.link} rawLink target="_blank">
              Zobacz projekt
            </Button>
          )
        }
        <Button variant="secondary" link="/portfolio"
          >Wróć do listy projektów</Button
        >
      </div>
    </article>
  </Section>

  <CTA>
    <p class="text-center text-h2">Masz podobny projekt?</p>
    <p class="text-center text-lg">
      Skontaktuj się ze mną, a z przyjemnością pomogę Ci go zrealizować.
    </p>
    <div class="flex w-full flex-col justify-center gap-4 md:flex-row">
      <Button link="/kontakt">Skontaktuj się</Button>
    </div>
  </CTA>
</Layout>
